.imgBox {
  height: 500px;
  width: 700px;
  background-color: aquamarine;
  img {
    height: 500px;
  }
}
.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-bottom: 40px solid rgb(226, 182, 37);
  border-radius: 50%;
}
.square {
  
  width: 10%;
  height: 10vw;
  background: orange;
  .a{
    background: red;
    float: left;
  }
  .b{
    background: green;
    float: left;
    

  }

  .c{
    background: pink;
    

  }
}
.qq {
  background: white;
  height: 20px;
  clear: both;
}
.d {
  width: 10%;
  height: 10vw;
  background: rgb(199, 181, 228);
  margin: -10px;
}
.p {
  /* width: 200px;
  border-radius: 50%; */
}